<% include common/header.ejs %>

<div id="main" class="container-fluid">
	<div id="range" class="container">
		<div id="range-navbar" class="navbar navbar-fixed-top navbar-inverse">
			<div id="navbar-main">
				<div class="navbar-first-line">
					<div class="navbar-phone">(044) 101 5 610</div>
					<div class="visible-md-inline-block visible-lg-inline-block navbar-allhours">24 години/7 днів на
						тиждень</div>
					<div class="visible-lg-inline-block navbar-delivery">Безкоштовна доставка піци</div>
					<button class="btn btn-warning" style="width:60px ;height:30px ; float: right">Увійти</button>
				</div>
				<div class="navbar-second-line">
					<div
						class="navbar-second-line-pizza visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
						Піца</div>
				</div>
			</div>
		</div>
		<div class="label-top">
			<div class="label-text">
				<div class="first-text">PIZZA</div>
				<div class="second-text">KMA</div>
			</div>
			<img src="assets/images/discount.svg">
		</div>
		<div class="label-bottom">
			<img src="assets/images/discount.svg">
			<div class="label-text">
				<div class="label-first-text">ЦЬОГО</div>
				<div class="label-first-text">ТИЖНЯ</div>
				<div class="label-first-text">НА ВСЕ</div>
				<div class="label-second-text">-20%</div>
			</div>
		</div>

		<div class="col-xs-12" style="height:80px"></div>
		<div class="range-head">
			<h2 id="head-label">Усі піци</h2>
			<p id="head-counter"></p>
		</div>
		<div class="range-nav-center">
			<ul id="range-nav" class="nav nav-pills range-nav">
				<li id="all" class="active"><a>Усі</a></li>
                <li id="meat"><a>М'ясні</a></li>
                <li id="pineapple"><a>З ананасами</a></li>
                <li id="mushrooms"><a>З грибами</a></li>
                <li id="fish"><a>З морепродуктами</a></li>
                <li id="vegan"><a>Вега</a></li
			</ul>
		</div>
		<div class="col-xs-12" style="height:20px"></div>
		<div class="row" id="pizza_list"></div>
	</div>
	<div id="cart">
		<div id="cart-head">
			<div class="ct-order">Замовлення</div>
			<div id="ct-count">2</div>
			<a id="ct-clear">Очистити замовлення</a>
		</div>
		<div id="ct-container" class="ct-container"></div>
		<div class="cart-bottom">
			<div class="ct-summ">
				<p class="ct-summ-t">Сума замовлення</p>
				<p id="ct-summ"></p>
			</div>
			<div id="ct-order">
				<button class="btn btn-warning" id="order-btn">Замовити</button>
			</div>
		</div>
	</div>

</div>

<% include common/footer.ejs %>