<footer class="footer">
	<p>Pizza2.2 - практичний проект в межах курсу JavaScript Києво-Могилянської Академії</p>
	<p>  Доставка піци не здійснюється</p>
</footer>

<!-- Google Maps -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA-kIN2_NIgStcL0-AUolvY8-MSEVGyAa0"></script>

<!-- LiqPay -->
<script src="http://static.liqpay.ua/libjs/checkout.js"></script>

<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript" src="assets/js/<%= js %>"></script>
</body>
</html>
